body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Roboto", Arial, serif;
    background-color: #849d8f;
    background-position: top center;
    background-repeat: no-repeat;
    
   
}
.wrapper{
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    font-family: sans-serif;
    display: block;
    color: #000000;
  
    
    
    background-position: 0 0;
    background-repeat: repeat;
}
  

    
.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 10px;
      
    
}   
.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 64px

}
.logo{
   width: 154px;
   height: 64px;
   margin-right: 9px;
   
    
}

  
.site-navigation {
   
   display: flex;
   list-style: none;
   min-height: 50px;
 
   margin: 0;
   margin-top: 12px;
   padding: 0;
  
}





/*--site-navigation--*/
.site-navigation-link > li > a {
    font-weight: 700px;
    line-height: 18px;
    color: #ffffff;
    display: block ;
    
   
   min-height: 50px;
 
   margin: 8px 14px;
   margin-top: 12px;
   padding: 8px 14px;
 
   background-color: transparent;
}
    

.site-navigation a {
    font-weight: bold;
    line-height: 18px;
    color: #ffffff;
   
}

.site-navigation a:hover {
    background-color: #ededed;
    color: #323232;
}

.site-navigation a.active {
    background-color: #d07058;
    color: #ffffff;
}

.site-navigation-sub a {
    font-size: 14px;
    font-weight: 400;
    color: #323232;
}

.site-navigation li:hover .site-navigation-sub {
    background-color: #f7f6f3;
}

.site-navigation-sub a:hover {
    color: #323232;
    background-color: #fbded8;
}

.site-navigation-sub a:focus {
    color: #323232;
    background-color: #f6b5a5;
}

.site-navigation-sub a.active {
    color: #ffffff;
    background-color: #d07058;
}

.site-searchbox-inner > a {
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #a0b5a9;
    text-decoration: none;
    width: 32px;
    height: 32px;
  
    text-align: center;
}
  
.user-navigation{
    
   
   font-weight: 500;
   vertical-align: middle;
   color: #ffffff;
   
   display: flex;
   
   justify-content: flex-end;
   
 
   width: 293px;
   margin: 0;
   margin-top: 14px;
   margin-left: auto;
   padding: 0;
 
   list-style: none;
}

/*--page-header-contacts--*/
.page-header-contacts {
    font-weight: 700;
    display: block;
   -ms-flex-item-align: end;
       align-self: flex-end;
   margin: 0;
   padding: 0;
 
   font-size: 14px;
   
  
   text-align: right;
}

.site-searchbox-inner > a:hover {
    color: #323232;
    background-color: #ffffff;
}

.page-header-working-hours {
    font-size: 14px;
    line-height: 18px;
}

.page-header-tel {
    font-size: 22px;
    line-height: 24px;
}

/*--features--*/
.features {
    color: #323232;
    background-image: url(../img/wafer.jpg);
    background-repeat: repeat;
}

.features h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.features-list {}

/*--articles-box--*/
.articles-box {}

.article-blog {
    background-image: url(../img/article-blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #323232;
}

.article-blog a {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.article-subscribe {
    background-color: #f8f7f4;
    color: #5a5a5a;
}

.subscribe-form {
    background-image: url(../img/substrate.jpg);
}

.subscribe-btn {
    background-color: #e94f38;
    color: #ffffff;
    font-weight: 700;
}

/*--footer--*/
footer {}

.social-link-list {}

.social-link svg {
    fill: #e6ebe9;
}

.social-link:hover svg {
    fill: #ffffff;
}

.social-link:active svg {
    fill: #e9e9e9;
}

/*--footer-menu--*/
.footer-menu a {
    font-size: 13px;
    color: #ffffff;
}

.footer-menu a:hover {
    font-weight: 700;
}

.copyright {
    font-size: 14px;

}

.copyright a {
    color: #ffffff;
}

.page-title {
    font-size: 30px;
    line-height: 42px;
  }
/*--page catalog--*/

.breadcrumbs {
    list-style: none;
}
.breadcrumbs a {
    color: #000000;
  }
  
  .breadcrumbs a:hover,
  .breadcrumbs a:focus {
    text-decoration: underline;
  }
  
  .breadcrumbs-current {
    color: #aba9a7;
  }
.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
}
.container h1  {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    color: #ffffff;

}
.name-product{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;

}
      
.price-value {
   font-size:  45px;
   line-height: 45px;
   font-weight: bold;
  
    color: #ffffff;
}

.prce-kilo{
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}













