body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Roboto", Arial, serif;
    background-color: #849d8f;
    background-position: top center;
    background-repeat: no-repeat;
    
   
}
.wrapper{
  width: 1200px;
    margin: 0 auto;
    
}
  

    
.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 10px;
      
    
}   
.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 64px

}
.logo{
   width: 154px;
   height: 64px;
   margin-right: 9px;
   
    
}

  
.site-navigation {
   
   display: flex;
   list-style: none;
   min-height: 50px;
 
   margin: 0;
   margin-top: 12px;
   padding: 0;
  
}




.catalog-submenu{
    background-color: #f7f6f3;
}
.catalog-submenu-item a:hover {
    color: #323232;
    background-color: #fbded8;
}
.catalog-submenu-item a:focus {
    color: #323232;
    background-color: #f6b5a5;
}
.catalog-submenu-item a.active {
    color: #ffffff;
    background-color: #d07058;
}




  
.user-navigation{
    
   
   font-weight: 500;
   vertical-align: middle;
   color: #ffffff;
   
   display: flex;
   
   justify-content: flex-end;
   
 
   width: 293px;
   margin: 0;
   margin-top: 14px;
   margin-left: auto;
   padding: 0;
 
   list-style: none;
}
.user-navigation-item > a {
    display: block;
    margin-left: 10px;
    padding: 8px 0;
  
    font-size: 14px;
    line-height: 1.143em;
    font-weight: 500;
    vertical-align: middle;
    color: #ffffff;
  
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
  }
 .search,
 .login-link,
 .not-empty {
   position: relative;
   height: 32px;
 }
 /*---Поиск---*/
 .search > a {
    width: 32px;
    height: 32px;
  
    text-align: center;
  
    -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }
  /*---Вход---*/
 .login-link > a {
    position: relative;
  
    padding-right: 16px;
    padding-left: 44px;
  }
  .login-link svg {
    position: absolute;
    top: 6px;
    left: 16px;
  }
  
  .login-link path {
   fill: #ffffff;
 }
 .login-link > a:hover path,
 .login-link > a:focus path,
 .login-link > a:active path  {
   fill: #000000;
 }
 .login-link:hover .popup-login,
 .login-link:focus .popup-login {
   display: block;
   z-index: 10;
   top: 32px;
   right: 0;
 }
 
 /*---Корзина---*/
 .basket > a {
    position: relative;
    width: 118px;
    padding-left: 44px;
  
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .empty > a {
    position: relative;
  }
  
  .empty svg {
    position: absolute;
    top: 6px;
    left: 16px;
  }
  
  .empty > a:hover path,
  .empty > a:focus path,
  .empty > a:active path,
  .empty > a:hover circle,
  .empty > a:focus circle,
  .empty > a:active circle {
    fill: #000000;
  }
  
  .not-empty > a {
    color: #333333;
  
    background-color: #f8f7f4;
  }
  
  .not-empty > a::before {
    content: "";
  
    position: absolute;
    top: 6px;
    left: 16px;
  
    width: 21px;
    height: 20px;
  
    background-image: url("../img/svg/basket-red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .not-empty:hover .popup-basket,
  .not-empty:focus .popup-basket {
    display: block;
    z-index: 10;
  
    top: 32px;
    right: 0;
  }
  /*  Подменю КАТАЛОГ  */
 .site-navigation-catalog {
    position: relative;
    height: 40px; /*увеличена высота для избежания промежутков между пунктом меню и подменю*/
  }
  
  .catalog-submenu {
    display: none;
    position: absolute;
    top: 38px;
    left: -7px;
    min-width: 143px;
    margin: 0;
    padding: 0;
  
    border-radius: 5px;
    background-color: #f9f8f5;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  
    list-style: none;
  }
  
  .site-navigation-catalog:hover .catalog-submenu,
  .site-navigation-catalog:focus .catalog-submenu {
    display: block;
    z-index: 10;
  }
  
  .catalog-submenu a {
    display: block;
    padding: 7px 0 8px 20px;
  
    font-size: 14px;
    line-height: 1.143em;
    font-weight: 400;
    color: #323232;
  }
  
  .catalog-submenu-item:first-child a {
    padding-top: 10px;
    padding-bottom: 14px;
    font-weight: 700;
  }
  
  .catalog-submenu-item:last-child a {
    padding-bottom: 14px;
  }
  
  .catalog-submenu-item:first-child,
  .catalog-submenu-item:first-child a {
      border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .catalog-submenu-item:last-child,
  .catalog-submenu-item:last-child a {
      border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .catalog-submenu-item:first-child {
    position: relative;
  }
  
  .catalog-submenu-item:first-child::after {
    content: "";
  
    position: absolute;
    right: 9px;
    bottom: 0;
    left:6px;
    height: 1px;
  
    background-color: #d1d0ce;
  }
  
  .catalog-submenu a:hover,
  .catalog-submenu a:focus {
    background-color: #fbded7;
  }
  
  .catalog-submenu a:active {
    background-color: #f6b5a5;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .catalog-submenu-item-current a {
    color: #ffffff;
  
    background-color: #d07058;
  }
  
  .catalog-submenu-item-current a:hover,
  .catalog-submenu-item-current a:focus,
  .catalog-submenu-item-current a:active {
    cursor: default;
  
    color: #ffffff;
  
    background-color: #d07058;
  }
 
  
 /*  Поведение ссылок при наведении курсора и нажатии  */
 .site-navigation-catalog:hover .site-navigation-link,
 .site-navigation-link:hover,
 .site-navigation-link:focus {
   padding: 8px 14px;
   margin: 0;
 
   color: #333333;
 
   background-color: #f7f6f3;
   border-bottom: none;
  border-radius: 16px;
}
.user-navigation-item > a:hover,
.user-navigation-item > a:focus {
  color: #333333;
 
   background-color: #f8f7f4;
 }
 
 .site-navigation-link:active {
   padding: 8px 14px;
   margin: 0;
 
   background-color: #ededed;
   -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
           box-shadow: inset 0px 2px 1px 0px #696969;
   border-bottom: none;
   border-radius: 16px;
 }
 /*  Нахождение на текущей странице  */
 .site-navigation-current,
 .site-navigation-current:hover,
 .site-navigation-current:focus,
 .site-navigation-current:active {
   padding: 8px 14px;
   margin: 0;
 
   color: #ffffff;
   border-bottom: none;
   border-radius: 16px;
   background-color: #d07058;
   -webkit-box-shadow: none;
           box-shadow: none;
 }
 
 /*  Контакты  */
 .header-contacts {
   display: block;
   -ms-flex-item-align: end;
       align-self: flex-end;
   margin: 0;
   padding: 0;
 
   font-size: 14px;
   line-height: 1.143em;
   font-weight: 700;
   text-align: right;
 }
 
 .header-contacts span {
   display: block;
   margin-top: 2px;
 
   font-size: 22px;
   line-height: 1.091em;
   font-weight: 700;
   text-align: right;
 }
 
 .slider {
    position: relative;
    margin-top: 274px;  /* расстояние до меню */
    margin-bottom: 43px;
  
    text-align: center;
 }
 .slider-input {
    display: none;
  } 

/*  -------Особенности-------  */
.features {
    min-height: 290px;
    margin-bottom: 40px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 16px;
  
    color: #323232;
  
    background-color: #ede0c4;
    background-image: url(../img/wafer.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 15px;
  }
  
  .features-heading {
    margin: 0;
    padding-top: 24px;
  
    font-size: 24px;
    line-height: 1.25em;
    font-weight: 500;
  }
  
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
      justify-content: space-between;
    margin: 0;
    padding: 0;
  
    list-style: none;
  }
  
  .feature-item {
    position: relative;
    width: 485px;
    padding-left: 56px;
    padding-top: 12px;
    margin-top: 10px;
  }
  
  .ice-cream::before {
    content: "";
  
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
  
    background-image: url(../img/svg/ice-cream.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .cow::before {
    content: "";
  
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
  
    background-image: url(../img/svg/cow.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .leaf::before {
    content: "";
  
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
  
    background-image: url(../img/svg/eco.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .thermometer::before {
    content: "";
  
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
  
    background-image: url(../img/svg/thermometer.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  /*  -------Блог-------  */
 .post-subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
      justify-content: space-between;
    margin-bottom: 40px;
  
    /* Временно для сетки */
    /*outline: 2px solid #21cfdb;*/
  }
  
  .new-post {
    width: 560px;
    min-height: 220px;
    padding-left: 19px;
    padding-right: 19px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  
    color: #323232;
    
    background-color: #ffffff;
    
    background-image: url(../img/strawberry-background.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
  
  .new-post p {
    margin: 0;
    padding: 0;
    padding-top: 22px;
  
    font-weight: 500;
  }
  
  .article-title {
    width: 280px;
    margin: 0;
    padding-top: 5px;
  }
  
  .article-title a {
    color: #323232;
    font-size: 24px;
    line-height: 1.25em;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .article-title a:hover,
  .article-title a:focus,
  .article-title a:active {
    color: #e84d37;
  }

/*  -------Подписка-------  */
.subscription {
    width: 560px;
    min-height: 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  
    background-image: url(../img/substrate.jpg);
   
    
    background-repeat: repeat;
    border-radius: 15px;
  }
  
  .subscription-wrapper {
    position: relative;
    min-height: 210px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 30px;
    background-color: #f8f7f4;
    border-radius: 15px;
    margin: 5px;
  }
  
  .subscription p {
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
    padding-top: 30px;
  
    color: #5a5a5a;
  }
  
  .subscription-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
      justify-content: space-between;
    -webkit-box-align: start;
       -ms-flex-align: start;
          align-items: flex-start;
  }
  
  .subscription input {
    display: inline-block;
    vertical-align: top;
    width: 366px;
    padding: 9px 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  
    font: inherit;
    line-height: 1.5em;
    font-weight: 700;
    color: #323232;
  
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 0 1px #b3b3b3;
            box-shadow: 0 0 0 1px #b3b3b3;
    border: none;
    border-radius: 5px;
  }
  
  .subscription input:hover {
    -webkit-box-shadow: 0 0 0 2px #9a9a9a;
            box-shadow: 0 0 0 2px #9a9a9a;
  }
  
  .subscription input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 2px #2e88e4;
            box-shadow: 0 0 0 2px #2e88e4;
  }
  
  .subscription-container {
    position: relative;
  }
  
  .subscription-label {
    display: none;
  
    font: inherit;
    font-size: 11px;
    line-height: 1.181;
  }
  
  .subscription-email:valid + .subscription-label {
    display: block;
    position: absolute;
    top: -16px;
    left: 13px;
  
    color: #999999;
  }
  
  .subscription-email:focus + .subscription-label {
    display: block;
    position: absolute;
    top: -16px;
    left: 13px;
  
    color: #5b9ddf;
  }
  
  .subscription-email::-webkit-input-placeholder {
    font: inherit;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #999999;
  }
  
  .subscription-email:-ms-input-placeholder {
    font: inherit;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #999999;
  }
  
  .subscription-email::placeholder {
    font: inherit;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #999999;
  }
  
  .subscription-button {
    padding-left: 20px;
    padding-right: 20px;
  }


  /*  -------Контакты-------  */
 .contacts {
    position: absolute;
    right: 0;
    top: 62px;
    width: 302px;
    min-height: 305px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 29px;
    padding-left: 25px;
  
  
    font-size: 14px;
    line-height: 1.429em;
    color: #323232;
  
    background-color: #fefefe;
    background-image: url(../img/bg-contacts.png);
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 15px;
  }
  
  .contacts p {
    margin: 0;
    margin-bottom: 16px;
  }
  
  .contacts b {
    display: block; /* для переноса на следующую строку */
    padding-top: 4px;
    padding-bottom: 2px;
  
    font-size: 18px;
    line-height: 1.333em;
    font-weight: 700;
  }
  
  .contacts-button {
    position: absolute;
    bottom: 31px;
  
    padding-left: 28px;
    padding-right: 28px;
  }
  
  
  /*  -------Футер-------  */
  .wrapper {
    
    max-width: 1200px;
    margin: 0 auto;
}
  . main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 18px;
    padding-bottom: 28px;
  }
  .main-footer {
    display: flex;
    justify-content: space-between;
}
  
  .main-footer.inner {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .footer-social {
    width: 186px;
    margin-top: 17px;
    margin-right: 235px;
  
    /* Временно для сетки */
    /*outline: 2px solid #afad1b;*/
  }
  
  .footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
      justify-content: space-between;
    width: 186px;
    margin: 0;
    padding: 0;
  
    list-style: none;
  }
  
  .social-button {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: top;
  
    opacity: 0.8;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }
  
  .social-button:hover,
  .social-button:focus  {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
  }
  
  .social-button:active {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
  }
  
  .social-button:active path {
    fill: #e9e9e9;
  }
  
  .footer-info {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    width: 335px;
    margin: 12px auto 0;
    padding: 0;
    list-style-type: none;
    border: 0;
  
    /* Временно для сетки */
    /*outline: 2px solid #afad1b;*/
  }
  
  .footer-info-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       /*-ms-flex-direction: column;
           flex-direction: column;*/
           margin: 0;
           padding: 0;
           height: 45px;
         
           list-style: none;
  
    /* Временно для сетки */
    /*outline: 2px solid #afad1b;*/
  }
  
  .footer-info-item {
    display: block;
    /*margin-left: 28px;*/
    min-width: 142px;
  }
  
  .footer-info-list svg {
    position: absolute;
    top: 6px;
    left: -24px;
  }
  
  .footer-info a {
    font-size: 13px;
    line-height: 1.385em;
    color: #ffffff;
  
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .heart {
    font-weight: 700;
  }
  
  .footer-info a:hover,
  .footer-info a:focus,
  .footer-info a:active {
    color: #ffbc9e;
  
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
  }
  
  .heart:hover + svg path,
  .heart:focus + svg path,
  .heart:active + svg path {
    fill: #ffbc9e;
  }
  
  .footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    width: 190px;
    margin: 0;
    margin-left: auto;
  
    font-size: 12px;
    line-height: 1.5em;
  
    /* Временно для сетки */
    /*outline: 2px solid #afad1b;*/
  }
  
  .academy {
    margin: 0;
  }
  
  .footer-copyright a:not(.logo-html-academy) {
    color: #ffffff;
  
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .logo-html-academy:hover path,
  .logo-html-academy:focus path,
  .logo-html-academy:active path {
    fill: #ffbc9e;
  }
  
  .footer-copyright a:not(.logo-html-academy):hover,
  .footer-copyright a:not(.logo-html-academy):focus,
  .footer-copyright a:not(.logo-html-academy):active {
    color: #ffbc9e;
  
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
  }
 
  

   /*  -------Попапы-------  */
 .popup form,
 .basket-container {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   padding-top: 21px;
   padding-left: 16px;
   padding-right: 16px;
 
   font-size: 13px;
   color: #323232;
 
   background-color: #f8f7f4;
   -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
           box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
   border-radius: 5px;
 }
 
 .popup input {
   display: inline-block;
   width: 100%;
   padding: 9px 15px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   vertical-align: top;
 
   font: inherit;
   font-size: 14px;
   line-height: 1.71em;
   font-weight: 700;
   color: #323232;
 
   background-color: #ffffff;
   -webkit-box-shadow: 0 0 0 1px #b3b3b3;
           box-shadow: 0 0 0 1px #b3b3b3;
   border: none;
   border-radius: 5px;
 }
 
 .popup-field::-webkit-input-placeholder {
   font: inherit;
   font-size: 14px;
   line-height: 1.71em;
   font-weight: 400;
   color: #999999;
 }
 
 .popup-field:-ms-input-placeholder {
   font: inherit;
   font-size: 14px;
   line-height: 1.71em;
   font-weight: 400;
   color: #999999;
 }
 
 .popup-field::placeholder {
   font: inherit;
   font-size: 14px;
   line-height: 1.71em;
   font-weight: 400;
   color: #999999;
 }
 
 .popup input:hover {
   -webkit-box-shadow: 0 0 0 2px #9a9a9a;
           box-shadow: 0 0 0 2px #9a9a9a;
 }
 
 .popup input:focus {
   outline: none;
   -webkit-box-shadow: 0 0 0 2px #2e88e4;
           box-shadow: 0 0 0 2px #2e88e4;
 }
 
 /*  Попапы -- форма поиска  */
 .popup-search {
   display: none;
   position: absolute;
   padding-top: 4px;
 }
 
 .search-form {
   width: 341px;
   min-height: 84px;
 }
 
 .popup-container {
   position: relative;
 }
 
 .popup-label {
   display: none;
 
   font: inherit;
   font-size: 11px;
   line-height: 1.181;
 }
 
 .popup-field:valid + .popup-label {
   display: block;
   position: absolute;
 
   top: -16px;
   left: 13px;
 
   color: #999999;
 }
 
 .popup-field:focus + .popup-label {
   display: block;
   position: absolute;
   top: -16px;
   left: 13px;
 
   color: #5b9ddf;
 }
 
 /*  Попапы -- форма входа  */
 .popup-login {
   display: none;
   position: absolute;
   padding-top: 4px;
 }
 
 .login-form {
   position: relative;
   padding-left: 19px;
   padding-right: 17px;
   width: 277px;
   min-height: 214px;
 }
 
 .popup-login input {
   margin-bottom: 22px;
 }
 
 .login-button {
   position: absolute;
   top: 146px;
   left: 16px;
   padding-left: 25px;
   padding-right: 25px;
 }
 
 .login-list {
   position: absolute;
   margin: 0;
   padding: 0;
   top: 146px;
   left: 138px;
   display: block;
 
   list-style: none;
 }
 
 .login-list a {
   line-height: 1.85em;
   color: #323232;
 
   border-bottom: 1px solid rgba(50, 50, 50, 0.3);
 }
 
 .login-list a:hover,
 .login-list a:focus,
 .login-list a:active {
   color: #e84d37;
 
   border-bottom: 1px solid rgba(232, 77, 55, 0.3);
 }
 
 /*  Попапы -- корзина  */
 .popup-basket {
   display: none;
   position: absolute;
   padding-top: 4px;
 }
 
 .basket-container {
   position: relative;
   padding-top: 19px;
   width: 539px;
   min-height: 242px;
 
   text-align: right;
 
   line-height: 1.23em;
 }
 
 .popup-basket span {
   color: #999999;
 }
 
 .popup-basket b {
   display: block;
   margin-bottom: 15px;
   margin-right: -3px;
 
   text-align: right;
   font-size: 15px;
   font-weight: 700;
   line-height: 1.2em;
 }
 
 .popup-basket img {
   border-radius: 50%;
 }
 
 .basket-button {
   padding-left: 15px;
   padding-right: 15px;
 }
 
 /*Таблица корзины*/
 .basket-table {
   width: 100%;
   border-collapse: collapse;
   border-bottom: 1px solid #cacac7;
   margin-bottom: 14px;
 }
 
 .basket-table-item {
   min-height: 53px;
 }
 
 .cell {
   vertical-align: top;
   padding-top: 10px;
   text-align: center;
 }
 
 .column-1 {
   position: relative;
   width: 22px;
 }
 
 .column-2 {
   padding-top: 0;
   padding-bottom: 17px;
   width: 33px;
 }
 
 .basket-table-item:last-child .column-2 {
   padding-bottom: 21px;
 }
 
 .column-3 {
   text-align: left;
   padding-left: 11px;
 }
 
 .column-4 {
   width: 112px;
 }
 
 .column-5 {
   width: 82px;
 }
 
 .basket-table .popup-close::before {
   content: "";
 
   position: absolute;
   top: 11px;
   left: 5px;
   width: 11px;
   height: 11px;
 
   background-image: url(../img/svg/cross-small.svg);
   background-repeat: no-repeat;
   background-position: 0 0;
 }
 
 .basket-table .popup-close:focus::before {
   border-color: #663d15;
   outline: thin dotted;
   outline: 2px auto -webkit-focus-ring-color;
 }
 
  
/*--page catalog--*/

.breadcrumbs {
    list-style: none;
}
.breadcrumbs a {
    color: #000000;
  }
  
  .breadcrumbs a:hover,
  .breadcrumbs a:focus {
    text-decoration: underline;
  }
  
  .breadcrumbs-current {
    color: #aba9a7;
  }
.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
}
.container h1  {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    color: #ffffff;

}
.name-product{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;

}
      
.price-value {
   font-size:  45px;
   line-height: 45px;
   font-weight: bold;
  
    color: #ffffff;
}

.prce-kilo{
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}













